RPC_DEVNET=http://127.0.0.1:5050
RPC_SEPOLIA=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/MlgEjBHiCaTfFLvUaJqsM
RPC_MAINNET=

ADDRESS_DEVNET=
ADDRESS_SEPOLIA=
ADDRESS_MAINNET=

PRIVATE_KEY_DEVNET=
PRIVATE_KEY_SEPOLIA=
PRIVATE_KEY_MAINNET=
