RPC_DEVNET=http://127.0.0.1:5050
RPC_SEPOLIA=https://starknet-sepolia.g.alchemy.com/starknet/version/rpc/v0_10/MlgEjBHiCaTfFLvUaJqsM

ADDRESS_DEVNET=
ADDRESS_SEPOLIA=

PRIVATE_KEY_DEVNET=
PRIVAT_KEY_SEPOLIA=