NEXT_PUBLIC_STARKNET_NETWORK=devnet

NEXT_PUBLIC_RPC_URL_DEVNET=http://127.0.0.1:5050/rpc
NEXT_PUBLIC_RPC_URL_SEPOLIA=
NEXT_PUBLIC_RPC_URL_MAINNET=

NEXT_PUBLIC_PROVER_URL_SEPOLIA=
NEXT_PUBLIC_INDEXER_URL_SEPOLIA=
NEXT_PUBLIC_INDEXER_URL_MAINNET=
NEXT_PUBLIC_API_KEY_STARKSCAN=

RELAYER_ADDRESS=
RELAYER_PRIVATE_KEY=

API_KEY_PAYMASTER_AVNU=
